
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.projects-twN {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #242424;
}
.projects-twN .frame-4-3JU {
  margin-bottom: 4.8rem;
  box-sizing: border-box;
  padding: 4.7rem 3.5rem 4.6rem 7.3rem;
  width: 100%;
  height: 16.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #1b1b1b;
  flex-shrink: 0;
}
.projects-twN .frame-4-3JU .darshan-ongari-8ap {
  margin: 0rem 7.6rem 1.1rem 0rem;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.projects-twN .frame-4-3JU .home-d1n {
  margin-right: 2.9rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.projects-twN .frame-4-3JU .about-6g4 {
  margin-right: 2.7rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.projects-twN .frame-4-3JU .skills-cuJ {
  margin-right: 2.6rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.projects-twN .frame-4-3JU .projects-wwa {
  margin-right: 2.6rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.projects-twN .frame-4-3JU .services-gPN {
  margin-right: 2.7rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.projects-twN .frame-4-3JU .partners-pEg {
  margin-right: 2.5rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.projects-twN .frame-4-3JU .testimonials-A3e {
  margin-right: 2.5rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.projects-twN .frame-4-3JU .auto-group-2ygu-J9r {
  width: 20.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.projects-twN .frame-4-3JU .auto-group-2ygu-J9r .get-in-touch-ezQ {
  width: 14.8rem;
  height: 2.9rem;
  position: absolute;
  left: 3.05rem;
  top: 2.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  text-decoration: none;
}
.projects-twN .frame-4-3JU .auto-group-2ygu-J9r .vector-ZLg {
  width: 20.9rem;
  height: 7.1rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.projects-twN .projects-FUQ {
  margin: 0rem 0.1rem 7.9rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.32rem;
  font-style: italic;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.projects-twN .auto-group-3myn-YyJ {
  margin: 0rem 15.9rem 15.1rem 16rem;
  width: calc(100% - 31.9rem);
  height: 43.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.projects-twN .auto-group-3myn-YyJ .auto-group-fgex-4we {
  margin-right: 6.3rem;
  box-sizing: border-box;
  padding: 5.7rem 2.805rem 2.25rem 3.4rem;
  width: 56.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #d150ff;
  backdrop-filter: blur(0.2rem);
  border-radius: 5rem;
  flex-shrink: 0;
}
.projects-twN .auto-group-3myn-YyJ .auto-group-fgex-4we .group-2-nse {
  margin-bottom: 1.55rem;
  width: 50.2949rem;
  height: 29.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.projects-twN .auto-group-3myn-YyJ .auto-group-fgex-4we .website-design-vix {
  margin-right: 1.8949rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.16rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.projects-twN .auto-group-3myn-YyJ .auto-group-tqwe-Qu2 {
  box-sizing: border-box;
  padding: 11.6rem 7.4rem 5.25rem 7.7rem;
  width: 56.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #d150ff;
  backdrop-filter: blur(0.2rem);
  border-radius: 5rem;
  flex-shrink: 0;
}
.projects-twN .auto-group-3myn-YyJ .auto-group-tqwe-Qu2 .addcircle-Lng {
  margin: 0rem 0.6rem 4.65rem 0rem;
  width: 10rem;
  height: 10rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.projects-twN .auto-group-3myn-YyJ .auto-group-tqwe-Qu2 .want-to-see-your-brand-here-TsJ {
  max-width: 41.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  flex-shrink: 0;
}
.projects-twN .frame-1-HUx {
  box-sizing: border-box;
  padding: 3.45rem 8.3rem 2.35rem 3.7rem;
  width: 100%;
  height: 21.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #3b3b3b;
  flex-shrink: 0;
}
.projects-twN .frame-1-HUx .darshan-ongari-Crp {
  margin: 0rem 15.2rem 2.4rem 0rem;
  max-width: 25.5rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3075;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Lemon, 'Source Sans Pro';
  flex-shrink: 0;
}
.projects-twN .frame-1-HUx .darshan-ongari-Crp .darshan-ongari-Crp-sub-0 {
}
.projects-twN .frame-1-HUx .darshan-ongari-Crp .darshan-ongari-Crp-sub-1 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.24rem;
  font-style: italic;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.projects-twN .frame-1-HUx .auto-group-yy4c-Hmn {
  margin-right: 8.1rem;
  width: 66.2rem;
  height: 100%;
  flex-shrink: 0;
}
.projects-twN .frame-1-HUx .auto-group-yy4c-Hmn .auto-group-vesv-ES8 {
  margin: 0rem 15.5rem 0.85rem 3.1rem;
  width: calc(100% - 18.6rem);
  display: flex;
  align-items: center;
}
.projects-twN .frame-1-HUx .auto-group-yy4c-Hmn .auto-group-vesv-ES8 .follow-us-Jwn {
  margin-right: 19.5rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.16rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.projects-twN .frame-1-HUx .auto-group-yy4c-Hmn .auto-group-vesv-ES8 .mail-us-Qjv {
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.16rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.projects-twN .frame-1-HUx .auto-group-yy4c-Hmn .auto-group-7of2-vCU {
  margin: 0rem 0rem 4.35rem 5.433rem;
  display: flex;
  align-items: center;
}
.projects-twN .frame-1-HUx .auto-group-yy4c-Hmn .auto-group-7of2-vCU .instagram-black-3Xz {
  margin: 0rem 3.323rem 0rem 0rem;
  width: 3.3333rem;
  height: 3.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.projects-twN .frame-1-HUx .auto-group-yy4c-Hmn .auto-group-7of2-vCU .social-media-logos-a28 {
  margin-right: 21.9102rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.projects-twN .frame-1-HUx .auto-group-yy4c-Hmn .auto-group-7of2-vCU .darshanongarigmailcom-WgU {
  margin-top: 0.2rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.projects-twN .frame-1-HUx .auto-group-yy4c-Hmn .copyright-2024-darshan-ongari-all-rights-reserved-1t8 {
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.projects-twN .frame-1-HUx .auto-group-suma-Ktp {
  margin-bottom: 7.35rem;
  width: 24.2rem;
  flex-shrink: 0;
}
.projects-twN .frame-1-HUx .auto-group-suma-Ktp .make-a-call-FGg {
  margin: 0rem 0rem 1.75rem 1.4rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.16rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.projects-twN .frame-1-HUx .auto-group-suma-Ktp .auto-group-dcig-Xjz {
  width: 100%;
  display: flex;
  align-items: center;
}
.projects-twN .frame-1-HUx .auto-group-suma-Ktp .auto-group-dcig-Xjz .smartphone-62Q {
  margin-right: 0.9rem;
  width: 2.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.projects-twN .frame-1-HUx .auto-group-suma-Ktp .auto-group-dcig-Xjz .item-91-123-456-7890-E8c {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
