
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.testimonial-qtY {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #242424;
}
.testimonial-qtY .frame-4-N7n {
  box-sizing: border-box;
  padding: 4.7rem 3.5rem 4.6rem 7.3rem;
  width: 100%;
  height: 16.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #1b1b1b;
  flex-shrink: 0;
}
.testimonial-qtY .frame-4-N7n .darshan-ongari-GDA {
  margin: 0rem 7.6rem 1.1rem 0rem;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-qtY .frame-4-N7n .home-KBS {
  margin-right: 2.9rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.testimonial-qtY .frame-4-N7n .about-E3W {
  margin-right: 2.7rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.testimonial-qtY .frame-4-N7n .skills-Ypt {
  margin-right: 2.6rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.testimonial-qtY .frame-4-N7n .projects-Gkt {
  margin-right: 2.6rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.testimonial-qtY .frame-4-N7n .services-b2U {
  margin-right: 2.7rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.testimonial-qtY .frame-4-N7n .partners-4Rr {
  margin-right: 2.5rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.testimonial-qtY .frame-4-N7n .testimonials-zaQ {
  margin-right: 2.5rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.testimonial-qtY .frame-4-N7n .auto-group-2bwc-Ksa {
  width: 20.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.testimonial-qtY .frame-4-N7n .auto-group-2bwc-Ksa .get-in-touch-gCL {
  width: 14.8rem;
  height: 2.9rem;
  position: absolute;
  left: 3.05rem;
  top: 2.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  text-decoration: none;
}
.testimonial-qtY .frame-4-N7n .auto-group-2bwc-Ksa .vector-nWG {
  width: 20.9rem;
  height: 7.1rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.testimonial-qtY .auto-group-xgbn-g5r {
  width: 235.8rem;
  height: 105rem;
  position: relative;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg {
  box-sizing: border-box;
  padding: 3.45rem 8.3rem 2.35rem 3.7rem;
  width: 151.2rem;
  height: 21.8rem;
  position: absolute;
  left: 0;
  top: 83.2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #3b3b3b;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .darshan-ongari-WKn {
  margin: 0rem 15.2rem 2.4rem 0rem;
  max-width: 25.5rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.3075;
  letter-spacing: 0.24rem;
  color: #ffffff;
  font-family: Lemon, 'Source Sans Pro';
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .darshan-ongari-WKn .darshan-ongari-WKn-sub-0 {
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .darshan-ongari-WKn .darshan-ongari-WKn-sub-1 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.24rem;
  font-style: italic;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-d58p-muv {
  margin-right: 8.1rem;
  width: 66.2rem;
  height: 100%;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-d58p-muv .auto-group-abxy-WsW {
  margin: 0rem 15.5rem 0.85rem 3.1rem;
  width: calc(100% - 18.6rem);
  display: flex;
  align-items: center;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-d58p-muv .auto-group-abxy-WsW .follow-us-qet {
  margin-right: 19.5rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.16rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-d58p-muv .auto-group-abxy-WsW .mail-us-Zqn {
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.16rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-d58p-muv .auto-group-ylay-VzL {
  margin: 0rem 0rem 4.35rem 5.433rem;
  display: flex;
  align-items: center;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-d58p-muv .auto-group-ylay-VzL .instagram-black-Eh2 {
  margin: 0rem 3.323rem 0rem 0rem;
  width: 3.3333rem;
  height: 3.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-d58p-muv .auto-group-ylay-VzL .social-media-logos-XAL {
  margin-right: 21.9103rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-d58p-muv .auto-group-ylay-VzL .darshanongarigmailcom-T3z {
  margin-top: 0.2rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-d58p-muv .copyright-2024-darshan-ongari-all-rights-reserved-Zsi {
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.12rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-ppyp-Uzg {
  margin-bottom: 7.35rem;
  width: 24.2rem;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-ppyp-Uzg .make-a-call-DxG {
  margin: 0rem 0rem 1.75rem 1.4rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.16rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-ppyp-Uzg .auto-group-uj6t-wdN {
  width: 100%;
  display: flex;
  align-items: center;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-ppyp-Uzg .auto-group-uj6t-wdN .smartphone-WAg {
  margin-right: 0.9rem;
  width: 2.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .frame-1-DLg .auto-group-ppyp-Uzg .auto-group-uj6t-wdN .item-91-123-456-7890-Sa8 {
  display: flex;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .customer-testimonals-MBJ {
  width: 35.3rem;
  height: 14.4rem;
  position: absolute;
  left: 9.1rem;
  top: 11.4rem;
  display: flex;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.3rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.testimonial-qtY .auto-group-xgbn-g5r .read-what-our-customers-have-to-say-about-us-zk4 {
  width: 56.1rem;
  height: 3rem;
  position: absolute;
  left: 9.1rem;
  top: 23.3rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.125rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg {
  width: 151.2rem;
  height: 96.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-aliquet-mauris-sed-porttitor-commodo-lorem-ex-ultrices-nunc-vitae-gravida-nisl-nunc-vel-neque-Dcp {
  width: 49.3rem;
  height: 9.6rem;
  position: absolute;
  left: 10.2rem;
  top: 44.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg .stars-RTz {
  box-sizing: border-box;
  padding: 38.45rem 112.6rem 52.9rem 9.6rem;
  width: 151.2rem;
  height: 96.1rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg .stars-RTz .material-symbols-star-XG8 {
  width: 5rem;
  height: 4.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg .stars-RTz .material-symbols-star-SP6 {
  width: 5rem;
  height: 4.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg .stars-RTz .material-symbols-star-tVz {
  width: 5rem;
  height: 4.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg .stars-RTz .material-symbols-star-dyN {
  width: 5rem;
  height: 4.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg .stars-RTz .material-symbols-star-nrG {
  width: 5rem;
  height: 4.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg .name1-wUG {
  width: 27.5rem;
  height: 6.4rem;
  position: absolute;
  left: 9.1rem;
  top: 56rem;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg .name1-wUG .name-1-5qN {
  box-sizing: border-box;
  padding: 0.4rem 0rem 0.4rem 0.4rem;
  width: 20rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg .name1-wUG .name-1-5qN .icon-park-twotone-pic-one-oWU {
  margin-right: 3.9rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg .name1-wUG .name-1-5qN .john-carter-wMn {
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-GSg .name1-wUG .ceo-company-xyz-FdN {
  width: 19.3rem;
  height: 2.4rem;
  position: absolute;
  left: 8.2rem;
  top: 4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L {
  width: 151.2rem;
  height: 96.1rem;
  position: absolute;
  left: 84.6rem;
  top: 0.6rem;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-aliquet-mauris-sed-porttitor-commodo-lorem-ex-ultrices-nunc-vitae-gravida-nisl-nunc-vel-neque-33S {
  width: 49.3rem;
  height: 9.6rem;
  position: absolute;
  left: 10.2rem;
  top: 44.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L .stars-s2U {
  box-sizing: border-box;
  padding: 38.45rem 112.6rem 52.9rem 9.6rem;
  width: 151.2rem;
  height: 96.1rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L .stars-s2U .material-symbols-star-NE8 {
  width: 5rem;
  height: 4.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L .stars-s2U .material-symbols-star-WbE {
  width: 5rem;
  height: 4.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L .stars-s2U .material-symbols-star-TmN {
  width: 5rem;
  height: 4.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L .stars-s2U .material-symbols-star-DVe {
  width: 5rem;
  height: 4.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L .stars-s2U .material-symbols-star-Z3i {
  width: 5rem;
  height: 4.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L .name2-h9v {
  width: 42.4rem;
  height: 6.5rem;
  position: absolute;
  left: 10.2rem;
  top: 55.7rem;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L .name2-h9v .name-2-1RW {
  box-sizing: border-box;
  padding: 0.4rem 0rem 0.4rem 0.4rem;
  width: 19.9rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L .name2-h9v .name-2-1RW .icon-park-twotone-pic-one-tkC {
  margin-right: 3.9rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L .name2-h9v .name-2-1RW .sarah-james-dBz {
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.testimonial-qtY .auto-group-xgbn-g5r .review-k4L .name2-h9v .marketing-manager-company-abc-Ypk {
  width: 34.4rem;
  height: 2.4rem;
  position: absolute;
  left: 8rem;
  top: 4.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
